### Instructor Demo: Environment Variables

In [1]:
# Import dotenv package for setting environment variables 
from dotenv import load_dotenv

# Import os package
import os

In [2]:
# Set environment variables from the .env in the local environment

In [3]:
# Retrieve API key and store as Python variable

str

In [4]:
# Test the API key with a request
import requests
import json
import pandas as pd

In [5]:
# Search NASA API URL for Geomagnetic Storms over North America for a certain month

# Search for Geomagnetic Storms over a certain time range
start_date = "2024-04-01"
end_date   = "2024-05-05"

# Define latitude and longitude for North America
latitude   = 37.0902  
longitude  = -95.7129 

# Build query URL

# Execute "GET" request with query_url

In [6]:
# Format data as JSON


# Use json.dumps with argument indent=4 to format data

[
    {
        "gstID": "2024-04-19T18:00:00-GST-001",
        "startTime": "2024-04-19T18:00Z",
        "allKpIndex": [
            {
                "observedTime": "2024-04-19T21:00Z",
                "kpIndex": 7.0,
                "source": "NOAA"
            }
        ],
        "linkedEvents": [
            {
                "activityID": "2024-04-15T06:48:00-CME-001"
            },
            {
                "activityID": "2024-04-19T04:53:00-IPS-001"
            }
        ],
        "link": "https://webtools.ccmc.gsfc.nasa.gov/DONKI/view/GST/30153/-1",
        "submissionTime": "2024-04-19T21:40Z"
    },
    {
        "gstID": "2024-05-02T15:00:00-GST-001",
        "startTime": "2024-05-02T15:00Z",
        "allKpIndex": [
            {
                "observedTime": "2024-05-02T18:00Z",
                "kpIndex": 6.67,
                "source": "NOAA"
            },
            {
                "observedTime": "2024-05-02T21:00Z",
                "kpIndex": 6.67,
                "source": "NOAA"
            }
        ],
        "linkedEvents": [
            {
                "activityID": "2024-05-02T07:46:00-IPS-001"
            },
            {
                "activityID": "2024-05-02T15:49:00-MPC-001"
            }
        ],
        "link": "https://webtools.ccmc.gsfc.nasa.gov/DONKI/view/GST/30399/-1",
        "submissionTime": "2024-05-02T18:44Z"
    }
]

In [7]:
# Access the 2nd activity in the linkedEvents for the 2nd Geomagnetic Storm

{'activityID': '2024-05-02T15:49:00-MPC-001'}

In [8]:
# Convert geomagnetic_storms json file to a Pandas DataFrame using json_normalize()

# Keep only the columns: activityID, startTime, linkedEvents

,gstID,startTime,linkedEvents
0,2024-04-19T18:00:00-GST-001,2024-04-19T18:00Z,[{'activityID': '2024-04-15T06:48:00-CME-001'}...
1,2024-05-02T15:00:00-GST-001,2024-05-02T15:00Z,[{'activityID': '2024-05-02T07:46:00-IPS-001'}...

### `for loop` and explode() function

Because the linkedEvents sometimes contains multiple events per row we want to spread these to individual rows. We will compare 2 approaches:

1) `for loop`
2) explode()

In [9]:

# Initialize an empty list to store the expanded rows


# Iterate over each index in the DataFrame

    # Iterate over each dictionary in the list

        # Create a new row with the dictionary and corresponding 'activityID' and 'startTime' value

# Create a new DataFrame from the expanded rows

# Use the head function to show the dataframe

,gstID,startTime,linkedEvents
0,2024-04-19T18:00:00-GST-001,2024-04-19T18:00Z,{'activityID': '2024-04-15T06:48:00-CME-001'}
1,2024-04-19T18:00:00-GST-001,2024-04-19T18:00Z,{'activityID': '2024-04-19T04:53:00-IPS-001'}
2,2024-05-02T15:00:00-GST-001,2024-05-02T15:00Z,{'activityID': '2024-05-02T07:46:00-IPS-001'}
3,2024-05-02T15:00:00-GST-001,2024-05-02T15:00Z,{'activityID': '2024-05-02T15:49:00-MPC-001'}

In [10]:

# Use the head function to show the dataframe

,gstID,startTime,linkedEvents
0,2024-04-19T18:00:00-GST-001,2024-04-19T18:00Z,{'activityID': '2024-04-15T06:48:00-CME-001'}
1,2024-04-19T18:00:00-GST-001,2024-04-19T18:00Z,{'activityID': '2024-04-19T04:53:00-IPS-001'}
2,2024-05-02T15:00:00-GST-001,2024-05-02T15:00Z,{'activityID': '2024-05-02T07:46:00-IPS-001'}
3,2024-05-02T15:00:00-GST-001,2024-05-02T15:00Z,{'activityID': '2024-05-02T15:49:00-MPC-001'}