In [6]:
import pandas as pd
import numpy as np
from PIL import Image

In [7]:
path = "https://static.bc-edx.com/ai/ail-v-1-0/m19/lesson_1/datasets/csvs/fungi_files.csv"

# Read the csv into a DataFrame
df = pd.read_csv(path)
# Display the first few rows
df.sample(n=5)

              name
238  H1_17b_19.jpg
214  H1_85a_14.jpg
221  H2_63b_15.jpg
46    H1_80a_5.jpg
14    H1_32a_7.jpg

In [8]:
# First, remove the .jpg file extension, 
# then split into three new columns: 'class', 'sample', and 'image'
df.name = df.name.str.replace('.jpg', '')
df[['class', 'sample', 'image']] = df.name.str.split('_', expand=True)

In [9]:
df.sample(n=5)

           name class sample image
223    H2_69b_6    H2    69b     6
21     H2_29a_4    H2    29a     4
197  H1_101b_12    H1   101b    12
166   H1_84a_13    H1    84a    13
239    H1_91c_5    H1    91c     5

In [10]:
from google.colab import drive
import pickle
drive.mount('/content/drive')
# For our purposes, we'll select the class column as 'y'


# And we'll export this as another pkl file

ModuleNotFoundError: No module named 'google'