In [1]:
# Dependencies
import pandas as pd

In [2]:
# We can create a Pandas Series from a raw list
list_df = pd.DataFrame([
"UCLAUC", 
"Berkeley",
"UC Irvine",
"University of Central Florida",
"Rutgers University"])

In [3]:
list_df

                               0
0                         UCLAUC
1                       Berkeley
2                      UC Irvine
3  University of Central Florida
4             Rutgers University

In [4]:
# Convert a list of dictionaries into a DataFrame
dic_lists = [
	{
		"State": 'Utah',
		"Abbreviation": "UT"
	},
	{
		"State": 'Washington',
		"Abbreviation": "WA"
	}
]

states_df = pd.DataFrame(dic_lists)

In [5]:
states_df

        State Abbreviation
0        Utah           UT
1  Washington           WA

In [6]:
# Convert a single dictionary containing lists into a DataFrame
lists_o_dicts = {
	"Dynasty": [
		"Early Dynastic Period",
		"Old Kingdom"
	],
	"Pharaoh": [
		"Narmer",
		"Khufu"
	],
	"Capital": [
		"Thinis",
		"Memphis"
	]
}

lists_o_dicts_df = pd.DataFrame(lists_o_dicts)

In [7]:
lists_o_dicts_df

                 Dynasty Pharaoh  Capital
0  Early Dynastic Period  Narmer   Thinis
1            Old Kingdom   Khufu  Memphis